#topnav {
    text-align: center;
    background-color: darkslategray;
    padding: 5px;
}
#container {
    height: 100%;
    border: 0;
}
#slideshow {
	max-width: 100%;
  width: auto;
	height: auto;
	position: relative;
	margin: 0 auto;
	margin-bottom: 60%;
}

#slideshow > div {
	max-width: inherit;
	position: absolute;
}

#slideshow > div > img {
	max-width: inherit;
}

button.topnavbutton {
    background-color: inherit;
    color: white;
    width: auto;
    height: auto;
    border: none;
}

button.topnavbutton:hover {
    color:lightgray;
    cursor: pointer;
}

html {
    background-color: darkslategray;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
h1 {
    background-color: ghostwhite;
    border: 2px solid black;
    text-align: center;
}
h2 {
    color: ghostwhite;
    font-size: 24px;
}
body {
    text-align: left;
    font-family: verdana;
    padding: 20px;
    margin: 0 auto;
    max-width: 1000px;
    min-height: 1000px;
    height: 100%;
    background-color: lightslategray;
}
table, th, td {
    text-align: center;
    padding: 5px;
    border: 1px solid black;
    border-collapse: collapse;
}
footer {
    text-align: center;
    font-size: 10px;
}
p {
    text-indent: 40px;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
object {
    min-width: 950px;
    height: 1100px;
}
